<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAMH_Nhom2_QLPhongGym.Properties.Settings.QLPhongGymConnectionString"
            connectionString="Data Source=THY;Initial Catalog=QLPhongGym;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="DAMH_Nhom2_QLPhongGym.Properties.Settings.QLPhongGymConnectionString1"
            connectionString="Data Source=Polietta\CUONG;Initial Catalog=QLPhongGym;User ID=sa;Password=123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>